.btn {
  border-radius: 2px;
  padding: 1rem 2.5rem;
  font-size: .85rem;
  transition: .2s ease-out;

  &-main {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover,
    &:focus {
      background: #fff;
      color: #000;
    }
  }

  &-service {
    font-size: .8rem;
    text-transform: uppercase;
    padding: .8rem 2.6rem;
    box-shadow: 0 0 3px rgba(#000, .5);

    &:hover,
    &:focus {
      background: #f8f8f8;
    }
  }
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: #c7c9cf;
  transform: translateY(-50%);
  z-index: 1001;
  transition: color .3s ease-in-out;

  &:hover,
  &:focus {
    color: $primary-grey;
  }

  @include breakpoint(xm) {
    display: none;
  }
}

.btn-next {
  right: 0;
}

.btn-send {
  background: $primary-color;
  width: 20%;
  height: 50px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 36px;
  padding: 0 16px;
  text-align: center;
  transition: background .25s ease-in-out;

  &:hover,
  &:focus {
    background: darken($primary-color, 10%);
  }

  @include breakpoint(xm) {
    width: 100%;
  }
}
