.loader {
  width: 100%;
  transition: .3s ease;
  overflow: hidden;

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 15%;
    height: 3px;
    background-color: $primary-color;
    animation: loading 5s linear infinite;
  }

  &-fade {
    transition: none;
    opacity: 0;

    &:before {
      animation: none;
    }
  }
}
