.main-container {
  .testimonial .column {
    overflow: hidden;
    width: 90%;
  }

  .featured .column {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    i {
      font-size: 4rem;

      @include breakpoint(m) {
        font-size: 3rem;
      }
    }
  }
}
